<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HAP-PEER</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/project_detail.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <%- body %>
  <footer>
    <!-- <%- include('./partials/footer'); %> -->
  </footer>
</body>

</html>