<h3>쪽지 보내기</h3>
<!-- <p> 보낸사람: <%= sender %> </p> -->
<form action="/message_send" method="post">
    <table>
        <tr>
            <td>보내는사람  : </td>
            <td><%= sender %><td>
        </tr>
        <tr>
            <td>받는사람 :</td>
            <td><input type="text" name="receiver"></td>
        </tr>
        <tr>
            <td>쪽지 유형: </td>
            <td>
                <input type="radio" id="participate" name="message_type" value="want_participate">
                <label for="want_participate">팀원으로 참가하고 싶어요~!</label>
                <input type="radio" id="question" name="message_type" value="question">
                <label for="question">질문이요~!</label>
                <input type="radio" id="etc" name="message_type" value="etc">
                <label for="etc">기타</label>
            </td>
        </tr>
        <tr>
            <td>쪽지내용 :</td>
            <td><textarea name="message_content"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="쪽지 보내기"></td>
        </tr>
    </table>
</form>