<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <meta charset="utf-8">
    </head>
    <body text="c05b00" link="bcc000" vlink="bcc000">
        HAPPEER
        <br>
            <A href = "./date"> 최신순정렬</A>
            <A href = "./level_1">레벨1정렬</A>
            <A href = "./level_2">레벨2정렬</A>
            <A href = "./level_3">레벨3정렬</A>
        <br>
            프로젝트 목록<br>
        <% if(locals.data){ %>
            <% if(data.length == 0) {%>
                NULL
                <% } %>
            <% for(let i=0;i<data.length;i++){ %>
                NAME : <%= data[i].proj_title %>    |    DATE : <%= data[i].proj_date %><br>
            <% } %>
        <% } %>
        </form>
    </body>
</html>