<body>
    <% if (user_id != "비회원" ) { %>
        <%- include('./partials/login_nav.ejs'); %>
       <% } 
    
       else  { %>
        <%- include('./partials/default_nav.ejs'); %>
        <% }
    %>
        <br>
            <A href = "/project_sort/date"> 최신순정렬</A>
            <A href = "/project_sort/level_1">레벨1정렬</A>
            <A href = "/project_sort/level_2">레벨2정렬</A>
            <A href = "/project_sort/level_3">레벨3정렬</A>
        <br>
        <form action="/project_sort" method="post">
            <table>
                <tr>
                    <td>스택별정렬</td>
                    <td><input type="text" name="skillstack"></td>
                </tr>
            </table>
        </form>
            프로젝트 목록<br>
        <% if(locals.data){ %>
            <% if(data.length == 0) {%>
                NULL
                <% } %>
            <% for(let i=0;i<data.length;i++){ %>
                NAME : <%= data[i].proj_title %>    |    DATE : <%= data[i].proj_date %><br>
            <% } %>
        <% } %>
    </form>
</body>