<body>
  <%- include('./partials/login_nav.ejs'); %>
  <tr>
      <td>
          user name : <%- users.user_nickname%></br>
          user stack : <%- users.user_stack%></br>
          user info : <%- users.user_info%></br>
      </td>
  </tr>
</body>
