.left {
  float: left;
  width: 25%;
  height: 50em;
  padding: 2em;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  margin: 1em;
  background-color: rgb(248, 248, 248);
}

#leader {
  /* font-size: large; */
}

.center {
  float: left;
  width: 65%;
  height: 50em;
  padding: 2em;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  margin: 1em;
  background-color: rgb(248, 248, 248);
}


.projectInfo {
  width: 95%;
  height: 20em;
  padding: 5px;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

.delete {
  border-style: hidden;
  color: red;
}